In [98]:

import quantutils.dataset.pipeline as ppl
from datetime import datetime
import pandas

end = "   2013-01-01 05:00"
end2 = "2013-01-01 05:00"

ts = pandas.Timestamp(end)
ts.time()

ts + pandas.Timedelta("1D")

if end.strip().find(" ") < 0:
    ts = ts + pandas.Timedelta("1D")
elif end.strip().find(":") < 0:  
    ts = ts + pandas.Timedelta("1H")
else:
    ts = ts + pandas.Timedelta("1M")

str(ts)

'2013-01-01 05:01:00'

In [203]:

#!pip install --upgrade ~/Development/repos/quantutils
#!pip install --upgrade ~/Development/repos/tradeframework

# Development
import pandas
import numpy as np

import quantutils.dataset.pipeline as ppl
import os
import numpy as np
import pandas as pd
import hashlib
import json
from marketinsights.api.aggregator import MarketDataAggregator
import marketinsights.utils.store as priceStore
from quantutils.api.datasource import MIDataStoreRemote


%matplotlib inline

In [100]:
data_config = [
    {
        "ID": "yahoo",
        "class": "YahooConnector",
        "opts": {
            "interval":"1d"
        },
        "timezone":"UTC",
        "markets": [
            {
                "ID": "DOW",
                "sources": [
                    {
                        "ID":"^DJI",
                        "sample_unit":"D"
                    }
                ]
            },
            {
                "ID": "IBM",
                "sources": [
                    {
                        "ID":"IBM",
                        "sample_unit":"D"
                    }
                ]
            }
        ]

    }
]

data_config2 = [
    {
        "ID": "MDS",
        "class": "MDSConnector",
        "opts": {
            "remote": True,
            "location": "http://pricestore.192.168.1.203.nip.io"
        },
        "timezone": "UTC",
        "markets": [
            {
                "ID": "DOW",
                "sources": [
                    {
                        "ID": "WallSt-hourly",
                        "sample_unit": "H"
                    },
                    {
                        "ID": "D&J-IND",
                        "sample_unit": "5min"
                    }
                ]
            }
        ]

    }
]

data_config3 = [
    {
        "ID": "source1",
        "class": "OHLCFileParser",
        "opts": {
            "source": "source1",
            "root": "../data",
            "date_format": "dd-MM-yy",
            "time_format": "HH:mm:ss",
            "index_col": 0,
            "parse_dates": [[0,1]],
            "dayfirst": True,
            "skiprows": 1

        },
        "timezone":"Europe/London",
        "markets": [
            {
                "ID": "DOW",
                "sources": [
                    {
                        "ID":"WallSt-hourly",
                        "sample_unit":"H"
                    }
                ]														
            },
            {
                "ID": "SPY",
                "sources": [
                    {
                        "ID":"SP500-hourly",
                        "sample_unit":"H"
                    }
                ]														
            }
        ]

    },
    {
        "ID": "source2",
        "class": "OHLCFileParser",
        "opts": {
            "source": "source2",
            "root": "../data",
            "date_format": "dd-MM-yy",
            "time_format": "HH:mm:ss",
            "index_col": 0,
            "parse_dates": [[0,1]],
            "dayfirst": True,
            "skiprows": 0
        },
        "timezone": "US/Eastern",
        "markets": [
            {
                "ID": "DOW",
                "sources": [
                    {
                        "ID":"D&J-IND",
                        "sample_unit":"5min"
                    }
                ]														
            },
            {
                "ID": "SPY",
                "sources": [
                    {
                        "ID":"SANDP-500",
                        "sample_unit":"5min"
                    }
                ]														
            }
        ]
    }
    ]

In [117]:
start = "2016-10-05"
end = "2016-10-25"

# Get data from MDS
MDS_aggregator = MarketDataAggregator(data_config2)

MDSData = MDS_aggregator.getData("DOW", start=start, end=end, aggregate=False, debug=False)

MDSData

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 61.76it/s]

                                                     Open          High  \
mID sID           Date_Time
DOW D&J-IND       2016-10-05 13:30:00+00:00  18206.114709  18241.275896
                  2016-10-05 13:35:00+00:00  18239.325830  18258.096464
                  2016-10-05 13:40:00+00:00  18253.986325  18264.766689
                  2016-10-05 13:45:00+00:00  18263.296639  18270.726890
                  2016-10-05 13:50:00+00:00  18262.916627  18264.696687
...                                                   ...           ...
    WallSt-hourly 2016-10-24 20:00:00+00:00  18219.000000  18226.500000
                  2016-10-24 21:00:00+00:00  18222.500000  18222.500000
                  2016-10-24 22:00:00+00:00  18221.000000  18228.000000
                  2016-10-24 23:00:00+00:00  18221.000000  18228.000000
                  2016-10-25 00:00:00+00:00  18221.000000  18230.000000

                                                      Low         Close
mID sID           Date_Time
DOW D&J-IND       2016-10-05 13:30:00+00:00  18206.114709  18239.325830
                  2016-10-05 13:35:00+00:00  18239.325830  18253.636313
                  2016-10-05 13:40:00+00:00  18252.546276  18263.026630
                  2016-10-05 13:45:00+00:00  18259.256503  18263.266638
                  2016-10-05 13:50:00+00:00  18255.556378  18257.676450
...                                                   ...           ...
    WallSt-hourly 2016-10-24 20:00:00+00:00  18209.500000  18223.500000
                  2016-10-24 21:00:00+00:00  18222.500000  18222.500000
                  2016-10-24 22:00:00+00:00  18216.500000  18220.500000
                  2016-10-24 23:00:00+00:00  18218.500000  18220.500000
                  2016-10-25 00:00:00+00:00  18219.500000  18226.000000

[1481 rows x 4 columns]

In [154]:
MDSData.loc[pd.IndexSlice[:, : , "2016-10-05":"2016-10-06"]]
#MDSData.xs("DOW").xs("D&J-IND")[:'2016-10-05 13:50']

                                                     Open          High  \
mID sID           Date_Time
DOW D&J-IND       2016-10-05 13:30:00+00:00  18206.114709  18241.275896
                  2016-10-05 13:35:00+00:00  18239.325830  18258.096464
                  2016-10-05 13:40:00+00:00  18253.986325  18264.766689
                  2016-10-05 13:45:00+00:00  18263.296639  18270.726890
                  2016-10-05 13:50:00+00:00  18262.916627  18264.696687
...                                                   ...           ...
    WallSt-hourly 2016-10-06 19:00:00+00:00  18266.500000  18278.500000
                  2016-10-06 20:00:00+00:00  18269.500000  18287.500000
                  2016-10-06 21:00:00+00:00  18278.000000  18278.000000
                  2016-10-06 22:00:00+00:00  18276.500000  18281.500000
                  2016-10-06 23:00:00+00:00  18271.500000  18271.500000

                                                      Low         Close
mID sID           Date_Time
DOW D&J-IND       2016-10-05 13:30:00+00:00  18206.114709  18239.325830
                  2016-10-05 13:35:00+00:00  18239.325830  18253.636313
                  2016-10-05 13:40:00+00:00  18252.546276  18263.026630
                  2016-10-05 13:45:00+00:00  18259.256503  18263.266638
                  2016-10-05 13:50:00+00:00  18255.556378  18257.676450
...                                                   ...           ...
    WallSt-hourly 2016-10-06 19:00:00+00:00  18254.500000  18271.500000
                  2016-10-06 20:00:00+00:00  18267.500000  18277.500000
                  2016-10-06 21:00:00+00:00  18278.000000  18278.000000
                  2016-10-06 22:00:00+00:00  18271.000000  18272.500000
                  2016-10-06 23:00:00+00:00  18242.000000  18248.500000

[209 rows x 4 columns]

In [192]:
data = pd.read_pickle("../test/unittest/data/test2.pkl")

#data.loc[pd.IndexSlice[:, :"2016-10-06"]]

data.loc[pd.IndexSlice[:,:"2016-10-06"],:]

                                                 Open          High  \
ID            Date_Time
D&J-IND       2016-10-03 13:30:00+00:00  18280.217211  18280.217211
              2016-10-03 13:35:00+00:00  18244.125992  18244.125992
              2016-10-03 13:40:00+00:00  18220.425192  18226.245388
              2016-10-03 13:45:00+00:00  18211.694897  18213.644963
              2016-10-03 13:50:00+00:00  18206.384718  18222.515263
...                                               ...           ...
WallSt-hourly 2016-10-06 19:00:00+00:00  18266.500000  18278.500000
              2016-10-06 20:00:00+00:00  18269.500000  18287.500000
              2016-10-06 21:00:00+00:00  18278.000000  18278.000000
              2016-10-06 22:00:00+00:00  18276.500000  18281.500000
              2016-10-06 23:00:00+00:00  18271.500000  18271.500000

                                                  Low         Close
ID            Date_Time
D&J-IND       2016-10-03 13:30:00+00:00  18227.825442  18244.055990
              2016-10-03 13:35:00+00:00  18214.024976  18220.425192
              2016-10-03 13:40:00+00:00  18212.174913  18212.174913
              2016-10-03 13:45:00+00:00  18204.364650  18206.484721
              2016-10-03 13:50:00+00:00  18205.734696  18220.115181
...                                               ...           ...
WallSt-hourly 2016-10-06 19:00:00+00:00  18254.500000  18271.500000
              2016-10-06 20:00:00+00:00  18267.500000  18277.500000
              2016-10-06 21:00:00+00:00  18278.000000  18278.000000
              2016-10-06 22:00:00+00:00  18271.000000  18272.500000
              2016-10-06 23:00:00+00:00  18242.000000  18248.500000

[3539 rows x 4 columns]

In [291]:
x = pd.read_csv("../datasources/finam/raw/D&J-IND_130101_141231.csv",
                          index_col=0,
                          parse_dates=[[0,1]],
                          header=None,
                          names=["Date", "Time", "Open", "High", "Low", "Close"],
                          usecols=range(0, 6),
                          skiprows=1,
                          dayfirst=True,
                          float_precision="legacy"
                          )

newData = x.assign(ID="D&J-IND").reset_index().set_index(["Date_Time", "ID"]).astype(dtype={"Open": "Float64", "High": "Float64", "Low": "Float64", "Close": "Float64"})[["Open", "High", "Low", "Close"]]

newData = ppl.localize(newData, "US/Eastern", "UTC")

newData.loc[pd.IndexSlice[:"2050-01-01", :],:]

                                       Open      High       Low     Close
Date_Time                 ID
2013-01-01 22:15:00+00:00 D&J-IND  13104.14  13104.14  13104.14  13104.14
2013-01-02 05:00:00+00:00 D&J-IND  13104.14  13104.14  13104.14  13104.14
2013-01-02 14:30:00+00:00 D&J-IND  13104.30  13325.58  13104.30  13325.58
2013-01-02 14:35:00+00:00 D&J-IND  13325.69  13339.82  13325.69  13334.49
2013-01-02 14:40:00+00:00 D&J-IND  13334.59  13336.05  13322.50  13322.50
...                                     ...       ...       ...       ...
2014-12-31 20:55:00+00:00 D&J-IND  17835.59  17860.25  17820.88  17823.55
2014-12-31 21:00:00+00:00 D&J-IND  17823.00  17823.58  17822.81  17823.00
2014-12-31 21:05:00+00:00 D&J-IND  17823.00  17823.07  17823.00  17823.07
2014-12-31 21:10:00+00:00 D&J-IND  17823.07  17823.07  17823.07  17823.07
2014-12-31 21:15:00+00:00 D&J-IND  17823.07  17823.07  17823.07  17823.07

[41179 rows x 4 columns]

In [290]:
newData[~newData.index.duplicated(keep='first')]

                                       Open      High       Low     Close
Date_Time                 ID
2013-01-01 22:15:00+00:00 D&J-IND  13104.14  13104.14  13104.14  13104.14
2013-01-02 05:00:00+00:00 D&J-IND  13104.14  13104.14  13104.14  13104.14
2013-01-02 14:30:00+00:00 D&J-IND  13104.30  13325.58  13104.30  13325.58
2013-01-02 14:35:00+00:00 D&J-IND  13325.69  13339.82  13325.69  13334.49
2013-01-02 14:40:00+00:00 D&J-IND  13334.59  13336.05  13322.50  13322.50
...                                     ...       ...       ...       ...
2014-10-31 19:55:00+00:00 D&J-IND  17370.57  17389.71  17370.57  17385.86
2014-10-31 20:00:00+00:00 D&J-IND  17385.62  17390.13  17382.11  17390.13
2014-10-31 20:05:00+00:00 D&J-IND  17390.18  17390.32  17390.18  17390.32
2014-10-31 20:10:00+00:00 D&J-IND  17390.52  17390.52  17390.52  17390.52
2014-11-01 06:00:00+00:00 D&J-IND  17390.52  17390.52  17390.52  17390.52

[37928 rows x 4 columns]

In [260]:
z = newData.xs("D&J-IND", level=1)

In [261]:
newData

                                       Open      High       Low     Close
Date_Time                 ID
2013-01-02 15:30:00+00:00 D&J-IND  13364.86  13365.64  13355.09  13362.03
2013-01-02 15:35:00+00:00 D&J-IND  13361.93  13361.93  13344.67  13344.67
2013-01-02 15:40:00+00:00 D&J-IND  13344.50  13349.51  13343.35  13348.03
2013-01-02 15:45:00+00:00 D&J-IND  13348.04  13348.06  13340.47  13341.29
2013-01-02 15:50:00+00:00 D&J-IND  13341.27  13349.10  13338.68  13348.08
2013-01-02 15:55:00+00:00 D&J-IND  13347.99  13347.99  13341.70  13345.45

In [262]:
idx = 
newData.loc[pd.IndexSlice[:"2050-01-01", :],:]

                                       Open      High       Low     Close
Date_Time                 ID
2013-01-02 15:30:00+00:00 D&J-IND  13364.86  13365.64  13355.09  13362.03
2013-01-02 15:35:00+00:00 D&J-IND  13361.93  13361.93  13344.67  13344.67
2013-01-02 15:40:00+00:00 D&J-IND  13344.50  13349.51  13343.35  13348.03
2013-01-02 15:45:00+00:00 D&J-IND  13348.04  13348.06  13340.47  13341.29
2013-01-02 15:50:00+00:00 D&J-IND  13341.27  13349.10  13338.68  13348.08
2013-01-02 15:55:00+00:00 D&J-IND  13347.99  13347.99  13341.70  13345.45

In [18]:

for i in range(len(data_config3)):
    data_config3[i]["opts"]["root"] = "../test/unittest/data"

start = "2016-10-05"
end = "2016-10-06"

# Get Market Data
aggregator = MarketDataAggregator(data_config3)

marketData = aggregator.getData("DOW", sample_unit="D", start=start, end=end, aggregate=False, debug=False)

marketData.xs("WallSt-hourly", level=1)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 34.96it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 16.07it/s]

                                  Open     High      Low    Close
mID Date_Time
DOW 2016-10-04 00:00:00+00:00  18177.0  18177.0  18159.5  18160.0
    2016-10-05 00:00:00+00:00  18160.5  18317.5  18138.5  18284.0
    2016-10-06 00:00:00+00:00  18284.5  18307.0  18160.5  18272.5

In [16]:
sample3

                               Open      High       Low     Close
Date_Time
2013-01-02 15:00:00+00:00  13366.48  13374.82  13338.68  13345.45
2013-01-02 16:00:00+00:00  13345.60  13353.75  13321.64  13321.77
2013-01-02 17:00:00+00:00  13321.76  13339.25  13320.28  13326.66
2013-01-02 18:00:00+00:00  13326.64  13336.06  13322.51  13329.19
2013-01-02 19:00:00+00:00  13329.09  13339.82  13318.19  13331.80

In [24]:
def appendHDF(hdfFile, bucket, data, sample_unit='1H', update=False):
    # Get HDFStore
    hdfStore = pandas.HDFStore(hdfFile, 'a')
    append = True
    # TODO Sort incoming data
    
    if '/'+bucket in hdfStore.keys():
    
        # Get first,last row
        nrows = hdfStore.get_storer(bucket).nrows
        last = hdfStore.select(bucket,start=nrows-1,stop=nrows)
        
        # If this is entirely beyond the last element in the file... append
        # If not... update (incurring a full file re-write and performance hit), or throw exception                  
        if not data[data.index<=last.index[0]].empty:
            # Update table with overlapped data
            storedData = hdfStore.get(bucket)
            data = ppl.merge(data, storedData)
            append = False
            
            if not update:
                raise ValueError('Error: Entry already exists for data starting at index ' + str(data.index[0])) 
        else:                                      
            data = ppl.merge(last, data)        
     
    data = ppl.resample(data, sample_unit)
    if append:        
        print("Appending data...")
        hdfStore.append(bucket, data, format='table', append=True)
    else:
        print("Re-writing table data for update...")
        hdfStore.put(bucket, data, format='table')

    hdfStore.close()
    
    
def getHDF(hdfFile, bucket):
    
    # Get HDFStore
    hdfStore = pandas.HDFStore(hdfFile, 'r')
    data = hdfStore.get(bucket)   
    hdfStore.close()    
    return data

In [27]:
appendHDF("temp.hdf", "DOW", sample3, '1H', True)

Merging data...
Resampling to 1H periods
Re-writing table data for update...

In [15]:
hdfFile = "tmp/data.hdf"
x = pandas.HDFStore(hdfFile, 'r')

In [20]:
start = "2013-01-02 20:00:00+00:00"
end = "2013-01-03 17:00:00+00:00"
select = ''.join(["index>'", start, "' and index<='", end, "'"])
poo = x.select("D&J-IND", where=select)

In [18]:
x.keys()

['/D&J-IND', '/SANDP-500', '/SP500-hourly', '/WallSt-hourly']

In [21]:
poo

                               Open      High       Low     Close
Date_Time
2013-01-02 20:05:00+00:00  13338.40  13342.17  13338.40  13342.17
2013-01-02 20:10:00+00:00  13342.19  13342.50  13339.98  13342.45
2013-01-02 20:15:00+00:00  13342.47  13344.33  13340.62  13344.33
2013-01-02 20:20:00+00:00  13344.40  13353.31  13344.40  13350.49
2013-01-02 20:25:00+00:00  13350.19  13350.78  13343.62  13347.16
...                             ...       ...       ...       ...
2013-01-03 16:40:00+00:00  13410.17  13410.54  13404.51  13404.51
2013-01-03 16:45:00+00:00  13404.50  13409.56  13404.12  13409.55
2013-01-03 16:50:00+00:00  13409.56  13412.46  13408.55  13409.63
2013-01-03 16:55:00+00:00  13409.69  13410.80  13407.03  13408.19
2013-01-03 17:00:00+00:00  13408.16  13412.07  13407.44  13411.13

[252 rows x 4 columns]