In [1]:

#!pip install --upgrade ~/Development/repos/quantutils
#!pip install --upgrade ~/Development/repos/tradeframework

# Development
import pandas
import numpy as np

import quantutils.dataset.pipeline as ppl
import os
import numpy as np
import pandas as pd
import hashlib
import json
from marketinsights.api.aggregator import MarketDataAggregator
import marketinsights.utils.store as priceStore
from quantutils.api.datasource import MIDataStoreRemote
from datetime import datetime, timedelta

%matplotlib inline

In [23]:
x = MDSData.xs("DOW").xs("WallSt-hourly")
x

                              Open     High      Low    Close
Date_Time
2016-10-05 00:00:00+00:00  18160.5  18161.5  18145.5  18152.0
2016-10-05 01:00:00+00:00  18151.5  18171.0  18150.5  18170.5
2016-10-05 02:00:00+00:00  18171.5  18187.0  18170.5  18180.5
2016-10-05 03:00:00+00:00  18181.0  18183.5  18173.5  18176.5
2016-10-05 04:00:00+00:00  18177.5  18177.5  18168.5  18171.0
2016-10-05 05:00:00+00:00  18170.5  18173.0  18156.0  18168.5
2016-10-05 06:00:00+00:00  18168.5  18172.5  18142.0  18160.0
2016-10-05 07:00:00+00:00  18159.5  18185.5  18138.5  18172.5
2016-10-05 08:00:00+00:00  18172.0  18175.5  18160.0  18168.5
2016-10-05 09:00:00+00:00  18168.0  18178.0  18153.5  18159.5
2016-10-05 10:00:00+00:00  18160.0  18170.5  18154.5  18158.0
2016-10-05 11:00:00+00:00  18157.5  18211.5  18157.0  18204.5
2016-10-05 12:00:00+00:00  18204.0  18226.5  18196.5  18210.5
2016-10-05 13:00:00+00:00  18211.5  18272.5  18192.5  18261.0
2016-10-05 14:00:00+00:00  18265.5  18292.5  18240.5  18270.0
2016-10-05 15:00:00+00:00  18269.5  18298.0  18262.0  18283.5
2016-10-05 16:00:00+00:00  18284.5  18305.5  18280.5  18289.5

In [38]:
MDSData.round()

                                  Open     High      Low    Close
mID Date_Time
DOW 2016-10-05 00:00:00+00:00  18160.0  18162.0  18146.0  18152.0
    2016-10-05 01:00:00+00:00  18152.0  18171.0  18150.0  18170.0
    2016-10-05 02:00:00+00:00  18172.0  18187.0  18170.0  18180.0
    2016-10-05 03:00:00+00:00  18181.0  18184.0  18174.0  18176.0
    2016-10-05 04:00:00+00:00  18178.0  18178.0  18168.0  18171.0
    2016-10-05 05:00:00+00:00  18170.0  18173.0  18156.0  18168.0
    2016-10-05 06:00:00+00:00  18168.0  18172.0  18142.0  18160.0
    2016-10-05 07:00:00+00:00  18160.0  18186.0  18138.0  18172.0
    2016-10-05 08:00:00+00:00  18172.0  18176.0  18160.0  18168.0
    2016-10-05 09:00:00+00:00  18168.0  18178.0  18154.0  18160.0
    2016-10-05 10:00:00+00:00  18160.0  18170.0  18154.0  18158.0
    2016-10-05 11:00:00+00:00  18158.0  18212.0  18157.0  18204.0
    2016-10-05 12:00:00+00:00  18204.0  18226.0  18196.0  18210.0
    2016-10-05 13:00:00+00:00  18212.0  18272.0  18192.0  18261.0
    2016-10-05 13:30:00+00:00  18206.0  18241.0  18206.0  18239.0
    2016-10-05 13:35:00+00:00  18239.0  18258.0  18239.0  18254.0
    2016-10-05 13:40:00+00:00  18254.0  18265.0  18253.0  18263.0
    2016-10-05 13:45:00+00:00  18263.0  18271.0  18259.0  18263.0
    2016-10-05 13:50:00+00:00  18263.0  18265.0  18256.0  18258.0
    2016-10-05 13:55:00+00:00  18257.0  18262.0  18255.0  18262.0
    2016-10-05 14:00:00+00:00  18262.0  18274.0  18250.0  18274.0
    2016-10-05 14:05:00+00:00  18274.0  18291.0  18274.0  18286.0
    2016-10-05 14:10:00+00:00  18286.0  18289.0  18274.0  18278.0
    2016-10-05 14:15:00+00:00  18279.0  18280.0  18265.0  18265.0
    2016-10-05 14:20:00+00:00  18266.0  18266.0  18255.0  18259.0
    2016-10-05 14:25:00+00:00  18259.0  18277.0  18259.0  18277.0
    2016-10-05 14:30:00+00:00  18277.0  18280.0  18264.0  18272.0
    2016-10-05 14:35:00+00:00  18272.0  18288.0  18272.0  18281.0
    2016-10-05 14:40:00+00:00  18281.0  18283.0  18255.0  18261.0
    2016-10-05 14:45:00+00:00  18260.0  18266.0  18242.0  18242.0
    2016-10-05 14:50:00+00:00  18242.0  18265.0  18242.0  18264.0
    2016-10-05 14:55:00+00:00  18264.0  18271.0  18261.0  18270.0
    2016-10-05 15:00:00+00:00  18271.0  18279.0  18265.0  18279.0
    2016-10-05 15:05:00+00:00  18279.0  18290.0  18279.0  18288.0
    2016-10-05 15:10:00+00:00  18288.0  18291.0  18280.0  18283.0
    2016-10-05 15:15:00+00:00  18283.0  18288.0  18279.0  18279.0
    2016-10-05 15:20:00+00:00  18279.0  18282.0  18277.0  18282.0
    2016-10-05 15:25:00+00:00  18282.0  18287.0  18279.0  18287.0
    2016-10-05 15:30:00+00:00  18287.0  18291.0  18282.0  18283.0
    2016-10-05 15:35:00+00:00  18283.0  18286.0  18278.0  18284.0
    2016-10-05 15:40:00+00:00  18283.0  18288.0  18278.0  18288.0
    2016-10-05 15:45:00+00:00  18288.0  18296.0  18287.0  18295.0
    2016-10-05 15:50:00+00:00  18295.0  18295.0  18288.0  18292.0
    2016-10-05 15:55:00+00:00  18293.0  18294.0  18280.0  18283.0
    2016-10-05 16:00:00+00:00  18283.0  18291.0  18281.0  18288.0

In [34]:
start = "2016-10-05"
end = "2016-10-05 16:00"

# Get data from MDS
MDS_aggregator = MarketDataAggregator(data_config2)

MDSData = MDS_aggregator.getData("DOW", start=start, end=end, aggregate=True, debug=False)

MDSData

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 89.96it/s]

                                       Open          High           Low  \
mID Date_Time
DOW 2016-10-05 00:00:00+00:00  18160.500000  18161.500000  18145.500000
    2016-10-05 01:00:00+00:00  18151.500000  18171.000000  18150.500000
    2016-10-05 02:00:00+00:00  18171.500000  18187.000000  18170.500000
    2016-10-05 03:00:00+00:00  18181.000000  18183.500000  18173.500000
    2016-10-05 04:00:00+00:00  18177.500000  18177.500000  18168.500000
    2016-10-05 05:00:00+00:00  18170.500000  18173.000000  18156.000000
    2016-10-05 06:00:00+00:00  18168.500000  18172.500000  18142.000000
    2016-10-05 07:00:00+00:00  18159.500000  18185.500000  18138.500000
    2016-10-05 08:00:00+00:00  18172.000000  18175.500000  18160.000000
    2016-10-05 09:00:00+00:00  18168.000000  18178.000000  18153.500000
    2016-10-05 10:00:00+00:00  18160.000000  18170.500000  18154.500000
    2016-10-05 11:00:00+00:00  18157.500000  18211.500000  18157.000000
    2016-10-05 12:00:00+00:00  18204.000000  18226.500000  18196.500000
    2016-10-05 13:00:00+00:00  18211.500000  18272.500000  18192.500000
    2016-10-05 13:30:00+00:00  18206.114709  18241.275896  18206.114709
    2016-10-05 13:35:00+00:00  18239.325830  18258.096464  18239.325830
    2016-10-05 13:40:00+00:00  18253.986325  18264.766689  18252.546276
    2016-10-05 13:45:00+00:00  18263.296639  18270.726890  18259.256503
    2016-10-05 13:50:00+00:00  18262.916627  18264.696687  18255.556378
    2016-10-05 13:55:00+00:00  18257.406440  18262.436610  18254.766351
    2016-10-05 14:00:00+00:00  18261.756587  18273.706991  18249.946189
    2016-10-05 14:05:00+00:00  18273.606987  18290.557560  18273.606987
    2016-10-05 14:10:00+00:00  18285.657394  18289.047509  18273.806994
    2016-10-05 14:15:00+00:00  18278.567155  18280.037205  18265.286707
    2016-10-05 14:20:00+00:00  18265.556716  18265.866726  18255.186366
    2016-10-05 14:25:00+00:00  18259.116498  18276.927100  18258.986494
    2016-10-05 14:30:00+00:00  18277.407116  18280.077206  18263.606650
    2016-10-05 14:35:00+00:00  18272.106937  18288.467489  18271.896930
    2016-10-05 14:40:00+00:00  18280.627225  18282.847300  18254.526343
    2016-10-05 14:45:00+00:00  18260.416542  18265.966729  18241.995920
    2016-10-05 14:50:00+00:00  18241.965919  18264.836691  18241.965919
    2016-10-05 14:55:00+00:00  18263.916660  18271.176906  18261.036563
    2016-10-05 15:00:00+00:00  18270.526883  18278.877165  18264.936695
    2016-10-05 15:05:00+00:00  18279.017170  18290.277550  18278.977169
    2016-10-05 15:10:00+00:00  18288.367486  18290.627562  18280.007204
    2016-10-05 15:15:00+00:00  18283.187311  18287.887470  18279.217177
    2016-10-05 15:20:00+00:00  18279.287179  18282.347283  18276.887098
    2016-10-05 15:25:00+00:00  18282.347283  18286.957438  18278.717160
    2016-10-05 15:30:00+00:00  18286.957438  18291.067577  18281.827265
    2016-10-05 15:35:00+00:00  18283.427319  18286.017406  18277.987135
    2016-10-05 15:40:00+00:00  18283.427319  18287.617461  18277.987135
    2016-10-05 15:45:00+00:00  18287.617461  18295.967743  18287.237448
    2016-10-05 15:50:00+00:00  18294.867705  18295.487726  18288.427488
    2016-10-05 15:55:00+00:00  18292.677631  18294.077679  18279.937201
    2016-10-05 16:00:00+00:00  18282.957303  18290.757567  18280.627225

                                      Close
mID Date_Time
DOW 2016-10-05 00:00:00+00:00  18152.000000
    2016-10-05 01:00:00+00:00  18170.500000
    2016-10-05 02:00:00+00:00  18180.500000
    2016-10-05 03:00:00+00:00  18176.500000
    2016-10-05 04:00:00+00:00  18171.000000
    2016-10-05 05:00:00+00:00  18168.500000
    2016-10-05 06:00:00+00:00  18160.000000
    2016-10-05 07:00:00+00:00  18172.500000
    2016-10-05 08:00:00+00:00  18168.500000
    2016-10-05 09:00:00+00:00  18159.500000
    2016-10-05 10:00:00+00:00  18158.000000
    2016-10-05 11:00:00+00:00  18204.500000
    2016-10-05 12:00:00+00:00  18210.500000
    2016-10-05 13:00:00+00:00  18261.000000
    2016-10-05 13:30:00+00:00  18239.325830
    2016-10-05 13:35:00+00:00  18253.636313
    2016-10-05 13:40:00+00:00  18263.026630
    2016-10-05 13:45:00+00:00  18263.266638
    2016-10-05 13:50:00+00:00  18257.676450
    2016-10-05 13:55:00+00:00  18261.966595
    2016-10-05 14:00:00+00:00  18273.636988
    2016-10-05 14:05:00+00:00  18285.657394
    2016-10-05 14:10:00+00:00  18278.497153
    2016-10-05 14:15:00+00:00  18265.486713
    2016-10-05 14:20:00+00:00  18259.256503
    2016-10-05 14:25:00+00:00  18276.927100
    2016-10-05 14:30:00+00:00  18272.136938
    2016-10-05 14:35:00+00:00  18280.627225
    2016-10-05 14:40:00+00:00  18260.836556
    2016-10-05 14:45:00+00:00  18242.205927
    2016-10-05 14:50:00+00:00  18264.256672
    2016-10-05 14:55:00+00:00  18270.456881
    2016-10-05 15:00:00+00:00  18278.877165
    2016-10-05 15:05:00+00:00  18288.367486
    2016-10-05 15:10:00+00:00  18283.057307
    2016-10-05 15:15:00+00:00  18279.217177
    2016-10-05 15:20:00+00:00  18282.347283
    2016-10-05 15:25:00+00:00  18286.857435
    2016-10-05 15:30:00+00:00  18282.887301
    2016-10-05 15:35:00+00:00  18283.607325
    2016-10-05 15:40:00+00:00  18287.617461
    2016-10-05 15:45:00+00:00  18294.867705
    2016-10-05 15:50:00+00:00  18292.407622
    2016-10-05 15:55:00+00:00  18283.017305
    2016-10-05 16:00:00+00:00  18288.397487

In [2]:
data_config = [
    {
        "ID": "yahoo",
        "class": "YahooConnector",
        "opts": {
            "interval":"1d"
        },
        "timezone":"UTC",
        "markets": [
            {
                "ID": "DOW",
                "sources": [
                    {
                        "ID":"^DJI",
                        "sample_unit":"D"
                    }
                ]
            },
            {
                "ID": "IBM",
                "sources": [
                    {
                        "ID":"IBM",
                        "sample_unit":"D"
                    }
                ]
            }
        ]

    }
]

data_config2 = [
    {
        "ID": "MDS",
        "class": "MDSConnector",
        "opts": {
            "remote": True,
            "location": "http://localhost:8080"
        },
        "timezone": "UTC",
        "markets": [
            {
                "ID": "DOW",
                "sources": [
                    {
                        "ID": "D&J-IND",
                        "sample_unit": "5min"
                    },
                    {
                        "ID": "WallSt-hourly",
                        "sample_unit": "H"
                    }                    
                ]
            }
        ]

    }
]

data_config3 = [
    {
        "ID": "source1",
        "class": "OHLCFileParser",
        "opts": {
            "source": "source1",
            "root": "../data",
            "date_format": "dd-MM-yy",
            "time_format": "HH:mm:ss",
            "index_col": 0,
            "parse_dates": [[0,1]],
            "dayfirst": True,
            "skiprows": 1

        },
        "timezone":"Europe/London",
        "markets": [
            {
                "ID": "DOW",
                "sources": [
                    {
                        "ID":"WallSt-hourly",
                        "sample_unit":"H"
                    }
                ]														
            },
            {
                "ID": "SPY",
                "sources": [
                    {
                        "ID":"SP500-hourly",
                        "sample_unit":"H"
                    }
                ]														
            }
        ]

    },
    {
        "ID": "source2",
        "class": "OHLCFileParser",
        "opts": {
            "source": "source2",
            "root": "../data",
            "date_format": "dd-MM-yy",
            "time_format": "HH:mm:ss",
            "index_col": 0,
            "parse_dates": [[0,1]],
            "dayfirst": True,
            "skiprows": 0
        },
        "timezone": "US/Eastern",
        "markets": [
            {
                "ID": "DOW",
                "sources": [
                    {
                        "ID":"D&J-IND",
                        "sample_unit":"5min"
                    }
                ]														
            },
            {
                "ID": "SPY",
                "sources": [
                    {
                        "ID":"SANDP-500",
                        "sample_unit":"5min"
                    }
                ]														
            }
        ]
    }
    ]

In [3]:
start = "2016-10-05"
end = "2016-10-05 16:00"

# Get data from MDS
MDS_aggregator = MarketDataAggregator(data_config2)

MDSData = MDS_aggregator.getData("DOW", "D", aggregate=False, debug=False)

MDSData

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.87it/s]

                                                 Open      High       Low  \
mID sID           Date_Time
DOW D&J-IND       2013-01-01 00:00:00+00:00  13104.14  13104.14  13104.14
                  2013-01-02 00:00:00+00:00  13104.14  13412.71  13104.14
                  2013-01-03 00:00:00+00:00  13412.55  13430.13  13359.65
                  2013-01-04 00:00:00+00:00  13391.36  13445.47  13377.22
                  2013-01-05 00:00:00+00:00  13435.21  13435.21  13435.21
...                                               ...       ...       ...
    WallSt-hourly 2018-07-30 00:00:00+00:00  25426.50  25496.50  25288.00
                  2018-07-31 00:00:00+00:00  25331.50  25512.00  25295.00
                  2018-08-01 00:00:00+00:00  25416.00  25484.50  25278.50
                  2018-08-02 00:00:00+00:00  25344.50  25361.50  25114.00
                  2018-08-03 00:00:00+00:00  25347.50  25412.50  25291.00

                                                Close
mID sID           Date_Time
DOW D&J-IND       2013-01-01 00:00:00+00:00  13104.14
                  2013-01-02 00:00:00+00:00  13412.55
                  2013-01-03 00:00:00+00:00  13391.36
                  2013-01-04 00:00:00+00:00  13435.21
                  2013-01-05 00:00:00+00:00  13435.21
...                                               ...
    WallSt-hourly 2018-07-30 00:00:00+00:00  25331.00
                  2018-07-31 00:00:00+00:00  25415.00
                  2018-08-01 00:00:00+00:00  25345.00
                  2018-08-02 00:00:00+00:00  25347.00
                  2018-08-03 00:00:00+00:00  25362.50

[2142 rows x 4 columns]

In [4]:
MDSData.xs(("DOW", "D&J-IND"))

,Open,High,Low,Close
Date_Time,,,,
2013-01-01 00:00:00+00:00,13104.140000,13104.140000,13104.140000,13104.140000
2013-01-02 00:00:00+00:00,13104.140000,13412.710000,13104.140000,13412.550000
2013-01-03 00:00:00+00:00,13412.550000,13430.130000,13359.650000,13391.360000
2013-01-04 00:00:00+00:00,13391.360000,13445.470000,13377.220000,13435.210000
2013-01-05 00:00:00+00:00,13435.210000,13435.210000,13435.210000,13435.210000
...,...,...,...,...
2018-03-13 00:00:00+00:00,25258.602828,25377.256834,24948.342352,25007.874362
2018-03-14 00:00:00+00:00,25087.267043,25130.968519,24669.662943,24758.955958
2018-03-15 00:00:00+00:00,24846.058899,25054.715944,24754.125795,24874.499859
2018-03-16 00:00:00+00:00,24875.319887,25031.365155,24857.929300,24947.352319
2018-03-19 00:00:00+00:00,24894.530535,24894.530535,24455.305705,24611.740987

In [192]:
data = pd.read_pickle("../test/unittest/data/test2.pkl")

#data.loc[pd.IndexSlice[:, :"2016-10-06"]]

data.loc[pd.IndexSlice[:,:"2016-10-06"],:]

                                                 Open          High  \
ID            Date_Time
D&J-IND       2016-10-03 13:30:00+00:00  18280.217211  18280.217211
              2016-10-03 13:35:00+00:00  18244.125992  18244.125992
              2016-10-03 13:40:00+00:00  18220.425192  18226.245388
              2016-10-03 13:45:00+00:00  18211.694897  18213.644963
              2016-10-03 13:50:00+00:00  18206.384718  18222.515263
...                                               ...           ...
WallSt-hourly 2016-10-06 19:00:00+00:00  18266.500000  18278.500000
              2016-10-06 20:00:00+00:00  18269.500000  18287.500000
              2016-10-06 21:00:00+00:00  18278.000000  18278.000000
              2016-10-06 22:00:00+00:00  18276.500000  18281.500000
              2016-10-06 23:00:00+00:00  18271.500000  18271.500000

                                                  Low         Close
ID            Date_Time
D&J-IND       2016-10-03 13:30:00+00:00  18227.825442  18244.055990
              2016-10-03 13:35:00+00:00  18214.024976  18220.425192
              2016-10-03 13:40:00+00:00  18212.174913  18212.174913
              2016-10-03 13:45:00+00:00  18204.364650  18206.484721
              2016-10-03 13:50:00+00:00  18205.734696  18220.115181
...                                               ...           ...
WallSt-hourly 2016-10-06 19:00:00+00:00  18254.500000  18271.500000
              2016-10-06 20:00:00+00:00  18267.500000  18277.500000
              2016-10-06 21:00:00+00:00  18278.000000  18278.000000
              2016-10-06 22:00:00+00:00  18271.000000  18272.500000
              2016-10-06 23:00:00+00:00  18242.000000  18248.500000

[3539 rows x 4 columns]

In [5]:
file = "../datasources/finam/raw/D&J-IND_161003_180319.csv"
x = pd.read_csv(file,
                          index_col=0,
                          parse_dates=[[0,1]],
                          header=None,
                          names=["Date", "Time", "Open", "High", "Low", "Close"],
                          usecols=range(0, 6),
                          skiprows=1,
                          dayfirst=True,
                          float_precision="legacy"
                          )

newData = x.assign(ID="D&J-IND").reset_index().set_index(["Date_Time", "ID"]).astype(dtype={"Open": "Float64", "High": "Float64", "Low": "Float64", "Close": "Float64"})[["Open", "High", "Low", "Close"]]
newData = ppl.localize(newData, "US/Eastern", "UTC")

y = pd.read_csv(file,
                          index_col=0,
                          parse_dates=[[0,1]],
                          header=None,
                          names=["Date", "Time", "Open", "High", "Low", "Close"],
                          usecols=range(0, 6),
                          skiprows=1,
                          dayfirst=True,
                          float_precision="high"
                          )

newData2 = y.assign(ID="D&J-IND").reset_index().set_index(["Date_Time", "ID"]).astype(dtype={"Open": "Float64", "High": "Float64", "Low": "Float64", "Close": "Float64"})[["Open", "High", "Low", "Close"]]
newData2 = ppl.localize(newData2, "US/Eastern", "UTC")

newData.compare(newData2)

False

In [6]:
newData.compare(newData2)

                                           Open                        High  \
                                           self         other          self
Date_Time                 ID
2016-10-03 13:40:00+00:00 D&J-IND           NaN           NaN           NaN
2016-10-03 13:45:00+00:00 D&J-IND           NaN           NaN           NaN
2016-10-03 13:50:00+00:00 D&J-IND           NaN           NaN           NaN
2016-10-03 13:55:00+00:00 D&J-IND           NaN           NaN  18223.135283
2016-10-03 14:05:00+00:00 D&J-IND  18251.346236  18251.346236  18252.166264
...                                         ...           ...           ...
2018-03-19 19:40:00+00:00 D&J-IND  24556.899136  24556.899136           NaN
2018-03-19 19:45:00+00:00 D&J-IND           NaN           NaN           NaN
2018-03-19 19:50:00+00:00 D&J-IND           NaN           NaN           NaN
2018-03-19 19:55:00+00:00 D&J-IND  24583.440032  24583.440032  24638.041875
2018-03-19 20:00:00+00:00 D&J-IND           NaN           NaN           NaN

                                                          Low                \
                                          other          self         other
Date_Time                 ID
2016-10-03 13:40:00+00:00 D&J-IND           NaN  18212.174913  18212.174913
2016-10-03 13:45:00+00:00 D&J-IND           NaN           NaN           NaN
2016-10-03 13:50:00+00:00 D&J-IND           NaN  18205.734696  18205.734696
2016-10-03 13:55:00+00:00 D&J-IND  18223.135283  18216.595063  18216.595063
2016-10-03 14:05:00+00:00 D&J-IND  18252.166264  18223.645301  18223.645301
...                                         ...           ...           ...
2018-03-19 19:40:00+00:00 D&J-IND           NaN           NaN           NaN
2018-03-19 19:45:00+00:00 D&J-IND           NaN           NaN           NaN
2018-03-19 19:50:00+00:00 D&J-IND           NaN  24552.108974  24552.108974
2018-03-19 19:55:00+00:00 D&J-IND  24638.041875  24583.440032  24583.440032
2018-03-19 20:00:00+00:00 D&J-IND           NaN  24611.530980  24611.530980

                                          Close
                                           self         other
Date_Time                 ID
2016-10-03 13:40:00+00:00 D&J-IND  18212.174913  18212.174913
2016-10-03 13:45:00+00:00 D&J-IND  18206.484721  18206.484721
2016-10-03 13:50:00+00:00 D&J-IND           NaN           NaN
2016-10-03 13:55:00+00:00 D&J-IND  18218.475126  18218.475126
2016-10-03 14:05:00+00:00 D&J-IND  18243.575974  18243.575973
...                                         ...           ...
2018-03-19 19:40:00+00:00 D&J-IND           NaN           NaN
2018-03-19 19:45:00+00:00 D&J-IND  24565.789436  24565.789436
2018-03-19 19:50:00+00:00 D&J-IND           NaN           NaN
2018-03-19 19:55:00+00:00 D&J-IND           NaN           NaN
2018-03-19 20:00:00+00:00 D&J-IND           NaN           NaN

[22305 rows x 8 columns]

In [14]:
newData.xs("D&J-IND", level=1).values == newData2.xs("D&J-IND", level=1).values

array([[ True,  True,  True,  True],
       [ True,  True, False, False],
       [ True,  True,  True, False],
       ...,
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True]])

In [18]:
print(newData2.xs("D&J-IND", level=1).values[1][3])
print(newData.xs("D&J-IND", level=1).values[1][3])

18212.1749133
18212.174913299998

In [262]:
idx = 
newData.loc[pd.IndexSlice[:"2050-01-01", :],:]

                                       Open      High       Low     Close
Date_Time                 ID
2013-01-02 15:30:00+00:00 D&J-IND  13364.86  13365.64  13355.09  13362.03
2013-01-02 15:35:00+00:00 D&J-IND  13361.93  13361.93  13344.67  13344.67
2013-01-02 15:40:00+00:00 D&J-IND  13344.50  13349.51  13343.35  13348.03
2013-01-02 15:45:00+00:00 D&J-IND  13348.04  13348.06  13340.47  13341.29
2013-01-02 15:50:00+00:00 D&J-IND  13341.27  13349.10  13338.68  13348.08
2013-01-02 15:55:00+00:00 D&J-IND  13347.99  13347.99  13341.70  13345.45

In [18]:

for i in range(len(data_config3)):
    data_config3[i]["opts"]["root"] = "../test/unittest/data"

start = "2016-10-05"
end = "2016-10-06"

# Get Market Data
aggregator = MarketDataAggregator(data_config3)

marketData = aggregator.getData("DOW", sample_unit="D", start=start, end=end, aggregate=False, debug=False)

marketData.xs("WallSt-hourly", level=1)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 34.96it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 16.07it/s]

                                  Open     High      Low    Close
mID Date_Time
DOW 2016-10-04 00:00:00+00:00  18177.0  18177.0  18159.5  18160.0
    2016-10-05 00:00:00+00:00  18160.5  18317.5  18138.5  18284.0
    2016-10-06 00:00:00+00:00  18284.5  18307.0  18160.5  18272.5

In [16]:
sample3

                               Open      High       Low     Close
Date_Time
2013-01-02 15:00:00+00:00  13366.48  13374.82  13338.68  13345.45
2013-01-02 16:00:00+00:00  13345.60  13353.75  13321.64  13321.77
2013-01-02 17:00:00+00:00  13321.76  13339.25  13320.28  13326.66
2013-01-02 18:00:00+00:00  13326.64  13336.06  13322.51  13329.19
2013-01-02 19:00:00+00:00  13329.09  13339.82  13318.19  13331.80

In [24]:
def appendHDF(hdfFile, bucket, data, sample_unit='1H', update=False):
    # Get HDFStore
    hdfStore = pandas.HDFStore(hdfFile, 'a')
    append = True
    # TODO Sort incoming data
    
    if '/'+bucket in hdfStore.keys():
    
        # Get first,last row
        nrows = hdfStore.get_storer(bucket).nrows
        last = hdfStore.select(bucket,start=nrows-1,stop=nrows)
        
        # If this is entirely beyond the last element in the file... append
        # If not... update (incurring a full file re-write and performance hit), or throw exception                  
        if not data[data.index<=last.index[0]].empty:
            # Update table with overlapped data
            storedData = hdfStore.get(bucket)
            data = ppl.merge(data, storedData)
            append = False
            
            if not update:
                raise ValueError('Error: Entry already exists for data starting at index ' + str(data.index[0])) 
        else:                                      
            data = ppl.merge(last, data)        
     
    data = ppl.resample(data, sample_unit)
    if append:        
        print("Appending data...")
        hdfStore.append(bucket, data, format='table', append=True)
    else:
        print("Re-writing table data for update...")
        hdfStore.put(bucket, data, format='table')

    hdfStore.close()
    
    
def getHDF(hdfFile, bucket):
    
    # Get HDFStore
    hdfStore = pandas.HDFStore(hdfFile, 'r')
    data = hdfStore.get(bucket)   
    hdfStore.close()    
    return data

In [27]:
appendHDF("temp.hdf", "DOW", sample3, '1H', True)

Merging data...
Resampling to 1H periods
Re-writing table data for update...

In [15]:
hdfFile = "tmp/data.hdf"
x = pandas.HDFStore(hdfFile, 'r')

In [20]:
start = "2013-01-02 20:00:00+00:00"
end = "2013-01-03 17:00:00+00:00"
select = ''.join(["index>'", start, "' and index<='", end, "'"])
poo = x.select("D&J-IND", where=select)

In [18]:
x.keys()

['/D&J-IND', '/SANDP-500', '/SP500-hourly', '/WallSt-hourly']

In [21]:
poo

                               Open      High       Low     Close
Date_Time
2013-01-02 20:05:00+00:00  13338.40  13342.17  13338.40  13342.17
2013-01-02 20:10:00+00:00  13342.19  13342.50  13339.98  13342.45
2013-01-02 20:15:00+00:00  13342.47  13344.33  13340.62  13344.33
2013-01-02 20:20:00+00:00  13344.40  13353.31  13344.40  13350.49
2013-01-02 20:25:00+00:00  13350.19  13350.78  13343.62  13347.16
...                             ...       ...       ...       ...
2013-01-03 16:40:00+00:00  13410.17  13410.54  13404.51  13404.51
2013-01-03 16:45:00+00:00  13404.50  13409.56  13404.12  13409.55
2013-01-03 16:50:00+00:00  13409.56  13412.46  13408.55  13409.63
2013-01-03 16:55:00+00:00  13409.69  13410.80  13407.03  13408.19
2013-01-03 17:00:00+00:00  13408.16  13412.07  13407.44  13411.13

[252 rows x 4 columns]